<launch>

<include file="$(find robotino_node)/launch/robotino_node.launch">
</include>

<!-- Launch the world map node -->
<include file="$(find world_grid)/launch/world_grid.launch">
</include>

<!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find nav_robotino)/maps/map.pgm 0.08"/>

<!-- Move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_robotino)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_robotino)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_robotino)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_robotino)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_robotino)/config/base_local_planner_params.yaml" command="load" />


    <param name="base_local_planner" value="robotino_local_planner/RobotinoLocalPlanner" />
    <param name="controller_frequency" value="3.0" />
    <param name="planner_frequency" value="1.0" />

  <!-- Run robotino_safety_node -->
  <include file="$(find robotino_safety)/launch/robotino_safety_node.launch"/>
  </node>
</launch>
